In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
df = pd.read_csv("GolfPlayData.csv")

In [3]:
df

     Outlook Temp. Humidity  Windy Play
0      Sunny   Hot     High  False   No
1      Sunny   Hot     High   True   No
2   Overcast   Hot     High  False  Yes
3      Rainy  Mild     High  False  Yes
4      Rainy  Cool   Normal  False  Yes
5      Rainy  Cool   Normal   True   No
6   Overcast  Cool   Normal   True  Yes
7      Sunny  Mild     High  False   No
8      Sunny  Cool   Normal  False  Yes
9      Rainy  Mild   Normal  False  Yes
10     Sunny  Mild   Normal   True  Yes
11  Overcast  Mild     High   True  Yes
12  Overcast   Hot   Normal  False  Yes
13     Rainy  Mild     High   True   No

# Calculating Entropy(Play)

In [4]:
df.groupby('Play').count()

      Outlook  Temp.  Humidity  Windy
Play
No          5      5         5      5
Yes         9      9         9      9

In [5]:
#Entropy(Play)
E0=round(-9/14*math.log(9/14,2)-5/14*math.log(5/14,2),3)
print(E0)

0.94

In [6]:
df.groupby(['Outlook','Play']).count()

               Temp.  Humidity  Windy
Outlook  Play
Overcast Yes       4         4      4
Rainy    No        2         2      2
         Yes       3         3      3
Sunny    No        3         3      3
         Yes       2         2      2

In [7]:
round(E0-(4/14*(-4/4*math.log2(4/4))+5/14*(-3/5*math.log2(3/5)-2/5*math.log2(2/5))+5/14*(-2/5*math.log2(2/5)-3/5*math.log2(3/5))),3)

0.246

# Calculating Info Gain For 'Temp.'

In [8]:
df.groupby(['Temp.','Play']).count()

            Outlook  Humidity  Windy
Temp. Play
Cool  No          1         1      1
      Yes         3         3      3
Hot   No          2         2      2
      Yes         2         2      2
Mild  No          2         2      2
      Yes         4         4      4

In [9]:
round(E0 - (4/14*(-3/4*math.log2(3/4)-1/4*math.log2(1/4))+4/14*(-2/4*math.log2(2/4)-2/4*math.log2(2/4))+6/14*(-4/6*math.log2(4/6)-2/6*math.log2(2/6))),3)

0.029

# Calculating Info Gain For 'Humidity'

In [10]:
df.groupby(['Humidity','Play']).count()

               Outlook  Temp.  Windy
Humidity Play
High     No          4      4      4
         Yes         3      3      3
Normal   No          1      1      1
         Yes         6      6      6

In [11]:
round(E0 - (7/14*(-3/7*math.log2(3/7)-4/7*math.log2(4/7))+7/14*(-6/7*math.log2(6/7)-1/7*math.log2(1/7))),3)

0.152

# Calculating Info Gain For 'Windy'

In [12]:
df.groupby(['Windy','Play']).count()

            Outlook  Temp.  Humidity
Windy Play
False No          2      2         2
      Yes         6      6         6
True  No          3      3         3
      Yes         3      3         3

In [13]:
round(E0 - (8/14*(-6/8*math.log2(6/8)-2/8*math.log2(2/8))+6/14*(-3/6*math.log2(3/6)-3/6*math.log2(3/6))),3)

0.048

### Since Info Gain for _Outlook_ is maximum so, _Outlook_ shall be our Root Node

# Split  data for 3 values of _Outlook_

In [14]:
df_Outlook={}
i=1
for Outlook, df_O in df.groupby('Outlook')['Temp.','Humidity','Windy','Play']:
    df_Outlook[Outlook]=df_O

In [15]:
for key in df_Outlook.keys():
    print("\n" +"="*40)
    print(key)
    print("-"*40)
    print(df_Outlook[key])

========================================
Overcast
----------------------------------------
     Outlook Temp. Humidity  Windy Play
2   Overcast   Hot     High  False  Yes
6   Overcast  Cool   Normal   True  Yes
11  Overcast  Mild     High   True  Yes
12  Overcast   Hot   Normal  False  Yes

========================================
Rainy
----------------------------------------
   Outlook Temp. Humidity  Windy Play
3    Rainy  Mild     High  False  Yes
4    Rainy  Cool   Normal  False  Yes
5    Rainy  Cool   Normal   True   No
9    Rainy  Mild   Normal  False  Yes
13   Rainy  Mild     High   True   No

========================================
Sunny
----------------------------------------
   Outlook Temp. Humidity  Windy Play
0    Sunny   Hot     High  False   No
1    Sunny   Hot     High   True   No
7    Sunny  Mild     High  False   No
8    Sunny  Cool   Normal  False  Yes
10   Sunny  Mild   Normal   True  Yes

## For the sake of describing the calculations and simplicity, taking only Outlook='Rainy' and renaming it df11

In [16]:
df11=df_Outlook['Rainy']

In [17]:
df11

   Outlook Temp. Humidity  Windy Play
3    Rainy  Mild     High  False  Yes
4    Rainy  Cool   Normal  False  Yes
5    Rainy  Cool   Normal   True   No
9    Rainy  Mild   Normal  False  Yes
13   Rainy  Mild     High   True   No

# Entropy(Play)

In [18]:
df11.groupby('Play').count()

      Outlook  Temp.  Humidity  Windy
Play
No          2      2         2      2
Yes         3      3         3      3

In [19]:
#Entropy(Play)
E11=round(-3/5*math.log2(3/5)-2/5*math.log2(2/5),3)
print(E11)

0.971

# Calculating Info Gain For 'Temp.'

In [20]:
df11.groupby(['Temp.','Play']).count()

            Outlook  Humidity  Windy
Temp. Play
Cool  No          1         1      1
      Yes         1         1      1
Mild  No          1         1      1
      Yes         2         2      2

In [21]:
round(E11 - (2/5*(-1/2*math.log2(1/2)-1/2*math.log2(1/2))+3/5*(-2/3*math.log2(2/3)-1/3*math.log2(1/3))),3)

0.02

# Calculating Info Gain For 'Humidity'

In [22]:
df11.groupby(['Humidity','Play']).count()

               Outlook  Temp.  Windy
Humidity Play
High     No          1      1      1
         Yes         1      1      1
Normal   No          1      1      1
         Yes         2      2      2

In [23]:
round(E11 - (2/5*(-1/2*math.log2(1/2)-1/2*math.log2(1/2))+3/5*(-2/3*math.log2(2/3)-1/3*math.log2(1/3))),3)

0.02

# Calculating Info Gain For 'Windy'

In [24]:
df11.groupby(['Windy','Play']).count()

            Outlook  Temp.  Humidity
Windy Play
False Yes         3      3         3
True  No          2      2         2

In [25]:
round(E11 - (3/5*(-3/3*math.log2(3/3)) + 2/5*(-2/2*math.log2(2/2))),3)

0.971

### Since Info Gain for _Windy_ is maximum so, _Windy_ shall be Next Node When Outlook="Rainy"